add_newline = true

format = """
[>](bold blue) \
$username\
$directory\
$battery\
$jobs\
$time\
$status\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$cmd_duration\
$python\
$nodejs\
$rust\
$terraform\
$line_break\
$character
"""

[character]
success_symbol = "[λ](bold green)"
error_symbol = "[λ](bold red)"

[status]
disabled = false
symbol = "!"
